<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FCM Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-input class="inputStyle ion-margin" placeholder="Please enter message" [(ngModel)]="message">
    
  </ion-input>
    <ion-input class="inputStyle ion-margin" placeholder="Please enter receiver token" [(ngModel)]="receiverToken">
    
    </ion-input>
        <ion-button expand="block" (click)="sendMsg()">
          Send message
        </ion-button>
</ion-content>
